<div class="container mx-auto flex items-center flex-row justify-around mt-4 mb-4">
  <button class="btn btn-primary" (click)="openModal()">
    Ajouter une Tâche
  </button>
  <app-kanban-hearder></app-kanban-hearder>
  <app-task-filter (filterChanged)="setFilter($event)"></app-task-filter>
</div>

<div class="flex justify-center mt-4">
  <div cdkDropListGroup>
    <!--Modal-->
    <app-add-task-modal
      [showModal]="showAddTaskModal"
      (taskAdded)="onTaskAdded($event)"
    >
    </app-add-task-modal>

    <!-- Colonne À faire -->
    <div class="example-container">
      <h2>À faire ({{ filteredTodo.length }})</h2>
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box relative"
          *ngFor="let item of filteredTodo; let i = index"
          cdkDrag
        >
          <!-- Contenu de la tâche -->
          <div class="flex flex-row">
            <span class="material-icons mr-2">hourglass_bottom</span>
            <p class="font-semibold">
              {{ item.title }}
              <span
                [ngClass]="getPriorityClass(item.priority)"
                class="ml-2 badge-circle"
              ></span>
            </p>
          </div>
          <p class="pl-8">{{ item.description }}</p>
          <!-- Icône de suppression -->
          <span
            class="material-icons cursor-pointer text-#c9c8c8af-200 absolute top-0 right-0 mt-2 mr-2"
            (click)="deleteTask(i, 'todo')"
            >clear</span
          >
        </div>
      </div>
    </div>

    <!-- Colonne En cours -->
    <div class="example-container">
      <h2>En cours ({{ filteredInProgress.length }})</h2>
      <div
        cdkDropList
        [cdkDropListData]="inProgress"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box relative"
          *ngFor="let item of filteredInProgress; let i = index"
          cdkDrag
        >
        <div class="flex flex-row">
          <span class="material-icons mr-2 spin">hourglass_top</span>
          <p class="font-semibold flex flex-row items-center">
            {{ item.title }}
            <span
              [ngClass]="getPriorityClass(item.priority)"
              class="ml-2 badge-circle"
            ></span>
          </p>
          </div>
          <p class="pl-8">{{ item.description }}</p>
        </div>
      </div>
    </div>

    <!-- Colonne Terminé -->
    <div class="example-container">
      <h2>Terminé ({{ filteredDone.length }})</h2>
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="example-box relative"
          *ngFor="let item of filteredDone; let i = index"
          cdkDrag
        >
          <div class="font-semibold flex flex-row justify-between">
            <span class="material-icons mr-2 text-green-500">check_circle</span>
            <p class="font-semibold flex flex-row items-center line-through">
              {{ item.title }}
              <span
                [ngClass]="getPriorityClass(item.priority)"
                class="ml-2 badge-circle"
              ></span>
            </p>
          </div>
          <p class="pl-8">{{ item.description }}</p>
          <span
            class="material-icons cursor-pointer text-#c9c8c8af-200 absolute top-0 right-0 mt-2 mr-2"
            (click)="deleteTask(i, 'done')"
            >remove</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
