<div class="flex justify-center mt-4">
  <div cdkDropListGroup>
    <!-- Colonne À faire -->
    <div class="example-container">
      <h2>À faire</h2>
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          <p class="font-semibold flex flex-row items-center">
            <span class="material-icons mr-2">hourglass_empty</span>
            Nom de Tâche
          </p>
          <p class="pl-8">{{ item }}</p>
        </div>
      </div>
    </div>

    <!-- Colonne En cours -->
    <div class="example-container">
      <h2>En cours</h2>
      <div
        cdkDropList
        [cdkDropListData]="inProgress"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
          <p class="font-semibold flex flex-row items-center">
            <span class="material-icons mr-2">hourglass_top</span>
            Nom de Tâche
          </p>
          <p class="pl-8">{{ item }}</p>
        </div>
      </div>
    </div>

    <!-- Colonne Terminé -->
    <div class="example-container">
      <h2>Terminé</h2>
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of done" cdkDrag>
          <p class="font-semibold flex flex-row items-center">
            <span class="material-icons mr-2">check_circle</span> Nom de Tâche 
          </p>
          <p class="pl-8">{{ item }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
