<div class="container mx-auto p-4 ">
  <!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" >
    Ajouter une colonne
  </button> -->

  <div class="flex justify-center mt-4">
    <!-- Exemple de colonne statique 1 -->
    <div class="bg-gray-100 p-4 rounded w-1/4">
      <h3 class="font-bold">A FAIRE</h3>
      <!-- Exemple de tâches statiques dans la colonne -->
      <div class="mt-2 p-2 bg-white rounded shadow">
        <p class="font-semibold">Tâche 1.1</p>
        <p>Description de la tâche 1.1</p>
      </div>
      <div class="mt-2 p-2 bg-white rounded shadow">
        <p class="font-semibold">Tâche 1.2</p>
        <p>Description de la tâche 1.2</p>
      </div>
    </div>

    <!-- Exemple de colonne statique 2 -->
    <div class="bg-gray-100 p-4 rounded w-1/4">
      <h3 class="font-bold">EN COURS</h3>
      <!-- Exemple de tâches statiques dans la colonne -->
      <div class="mt-2 p-2 bg-white rounded shadow">
        <p class="font-semibold">Tâche 2.1</p>
        <p>Description de la tâche 2.1</p>
      </div>
    </div>
		
		<!-- Exemple de colonne statique 2 -->
    <div class="bg-gray-100 p-4 rounded w-1/4">
      <h3 class="font-bold">TERMINÉ</h3>
      <!-- Exemple de tâches statiques dans la colonne -->
      <div class="mt-2 p-2 bg-white rounded shadow">
        <p class="font-semibold">Tâche 2.1</p>
        <p>Description de la tâche 2.1</p>
      </div>
    </div>
  </div>
</div>
